* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
  background-color: #242424;
  color: aliceblue;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.is__flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container__wrapper {
  width: 80%;
  margin: 2rem auto;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input__container {
  margin-top: 1rem;
  text-align: center;
}

.input__container input {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  text-align: center;

  width: 6rem;

  padding: 0.25rem;

  border: none;
  border-radius: 1rem;
}

input:placeholder-shown {
  color: blueviolet;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;

  width: 6rem;
  padding: 0.5rem;

  border: none;
  border-radius: 1rem;

  cursor: pointer;
}

span {
  font-size: 20px;
  font-weight: bold;
  margin-block: 0.25rem;
}

#error {
  color: crimson;
}
