*{
    margin: 0;
    padding: 0;
}

form{
    background-color: #00C2D1;
    border-radius: 10px;
    margin: 20% 0 0 40%;
    height: 150px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly
}

input{
    text-align: center;
    border-radius: 10px
}

#somar{
    padding: 5px;
    border-radius: 10px;
    box-shadow: 4px 4px 3px #5d5d5d;
    cursor: pointer;
}

#somar:hover{
    height: 30px;
    width: 55px;
}

#somar:active{
    box-shadow: none;
    transform: translate(4px, 4px);
}